<div class="card lobby-group">
  <div class="card-header">
    Game Id: {{game.game_id}}
    <span class="float-end">{{game.players.length}} / {{ game.num_players}} players joined</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">Game status: {{ game.status}}</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let player of game.players">{{player}}</li>
    </ul>
    <div class="input-group mb-3" [hidden]="!addPlayerClicked">
      <input type="text" class="form-control" placeholder="Username" [(ngModel)]="userName">
    </div>
    <a [hidden]="!shouldShowJoinRoomButton" style="cursor: pointer;" class="btn btn-primary btn-lobby" (click)="viewGameRoom()">View Room</a>
    <a style="margin-left: 12px; cursor: pointer;" class="btn btn-success btn-lobby" (click)="addPlayerToRoom()"
    [hidden]="shouldShowJoinRoomButton">Join room</a>
  </div>
</div>
